@model FreezerMonitor.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section scripts {
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/numeral/numeral.js")
}

@if (false)
{
    <script src="~/Scripts/jquery-3.1.1.intellisense.js"></script>
}

<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
@*<h2>Dashboard</h2>*@

<h3>Last</h3>
<div id="period" class="row btn-group" data-toggle="buttons">
    <label class="btn btn-default">
        <input type="radio" name="options" id="optionDay" autocomplete="off" value="1">Day
    </label>
    <label class="btn btn-default active">
        <input type="radio" name="options" id="optionWeek" autocomplete="off" value="7" checked>Week
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="optionMonth" autocomplete="off" value="30">Month
    </label>
</div>
    @*<strong id="periodLength"></strong> Days:*@</h3>


<div class="container">
    <div class="row">
        <div class="col-xs-6 kpi">
            <span id="maxTemp" class="kpi"></span><br />
            Max (<span id="maxTempTime" class="plain"></span>)
        </div>
        <div class="col-xs-6 kpi">
            <span id="timeAbove" class="kpi"></span><br />
            Above Freezing
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 kpi">
            <span id="lastTemp" class="kpi"></span><br />
            Latest (<span id="lastTempTime" class="plain"></span>)
</div>
        <div class="col-xs-6 kpi">
            <span id="percentAbove" class="kpi"></span><br />
            Above Freezing
        </div>
    </div>
    @if (true)
    {
    }
</div>

<script>    
    function changePeriod(days) {
        //console.log('Days: ' + days);
        $.getJSON('../dashboard?days='+ days, function (data) {
            //console.log(data);
            $('#periodLength').text(data.DaysInPeriod);
            $('#timeAbove').text(data.MinutesAboveFreezing + ' min');
            $('#percentAbove').text(numeral(data.PortionOfTimeAboveFreezing).format('0.0 %'));

            $('#maxTemp').text(numeral(data.MaxReading.Temperature).format('0.0') + '°F');
            $('#lastTemp').text(numeral(data.LastReading.Temperature).format('0.0') + '°F');
            $('#maxTempTime').text(moment(data.MaxReading.Time + 'Z').fromNow());
            $('#lastTempTime').text(moment(data.LastReading.Time + 'Z').fromNow());
        });
    }

    $("#period :input").change(function () {
        changePeriod(this.value);
    });

    $(document).ready(function () {
        changePeriod(7);
    });
</script>